<div class="wrapper">
  <div class="wrapper__header">
    <a class="logo" routerLink="">
      <img src="/assets/img/logo.png" >
    </a>
    <ul class="navigation">
      <li *ngFor="let item of menuItems">
        <a class="menu-link" routerLink="{{ item.link }}" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <div class="menu-icon" [ngClass]="true ? item.iconClass : ''"></div>
          <div class="menu-text">{{ item.itemText }}</div>
        </a>
      </li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>